.SidePanelAnchor{
    -fx-background-color:#f9f4d6;
    -fx-border-width: 2px 2px 2px 2px;
    -fx-border-radius: 20px;
    -fx-background-radius: 20px;
    -fx-border-style: solid;
}

.InnerPlane {
    -fx-background-color: #d4a373;
    -fx-border-width: 2px 2px 2px 2px;
    -fx-border-radius: 20px;
    -fx-background-radius: 20px;
    -fx-border-style: solid;
    -fx-border-color: #bc6c25;
}

.CategoryBtn {
    -fx-background-color: #faedcd;
    fx-border-width: 2px 2px 2px 2px;
    -fx-border-radius: 50px;
    -fx-background-radius: 50px;
    -fx-border-style: solid;
}

.CategoryBtnNull {
    -fx-background-color: rgb(210, 162, 115);
    -fx-border-width: 2px 2px 2px 2px;
    -fx-border-radius: 20px;
    -fx-background-radius: 20px;
    -fx-border-color: #b37234;
}

.mouse-moved:hover {
    -fx-background-color: #ccd5ae;
}

.mouse-moved-all:hover {
    -fx-background-color: rgba(217, 217, 217, 0.63);
}

.newReceiptBtn {
    -fx-background-color: #a3b18a;
}

.shortBtn {
    -fx-background-color: #a3b18a;
    -fx-font-family: "Arial Black"; -fx-font-size: 13;
}

.shortBtn:hover {
    -fx-background-color: #588157;
}
/*.input .text-field{*/
/*    -fx-prompt-text-fill: #588157;*/
/*}*/

.mouse-movedReceiptBtn:hover {
    -fx-background-color: #588157;
}

.mouse-movedNextBtn:hover {
    -fx-background-color: #a3b18a;
}

.NextBtn {
    -fx-background-color: #ccd5ae;
}

.Shadow {
    -fx-effect: dropShadow(three-pass-box, rgba(0,0,0,0), 10, 0, 0, 10);
}

.transparent {
    -fx-background-color: rgba(0,0,0,0);
}

.scroll-pane {
    -fx-background-color: #ccd5ae;
}

.dishCard {
    -fx-background-color: #f9f4d6;
}

.full-receipt {
    -fx-background-color: #e9edc9;
}